<h1>
  About
</h1>
<div>
  This is a collaborative Lorem Ipsum generator. Any NRI employee can use it. Please don't add any inappropriate content.
</div>
<div>
  If you'd like to remove any content, just do so. You don't need permission.
</div>

<h1>
  Add sentences to NRIpsum
</h1>
<div class="alert alert-info">
  <%= flash[:info] %>
</div>
<div>
  <%= form_for(@sentence) do |f| %>

    <%= f.label :content, "Sentence" %>
    <%= f.text_field :content %>

    <%= f.submit "Add" %>
  <% end %>
</div>
<div>
  If your sentence does not have end punctuation, some will be provided for you.
</div>

<h1>
  NRIpsum
</h1>
<div class="alert alert-info">
  <%= flash[:info] %>
</div>
<div>
  <ul>
  <% @index.each do |sentence| %>
  <li><%= sentence.content %></li>
  <%= link_to "Delete", sentence, method: :delete %>
  <% end %>
  </ul>
</div>

<%= link_to "See Some NRIpsum", root_url %>
